body { background-color: #f2f2f2; background-image: url(./../../images/skins/sky_blue_bg.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: scroll; }

#preheader, #preheader-inner, #preheader-toggle, #header, #header-inner, #precontent, #precontent-inner, #content, #content-inner, #prefooter, #prefooter-inner, #footer, #footer-inner { margin-left: auto; margin-right: auto; }

/* ----- PREHEADER ----------------------------------------------------------------- */
#preheader-toggle { width: 967px; text-align: center; }
#preheader-toggle .arrow { margin: 0 auto; position: relative; bottom: 0; }
#preheader { background-color: #e5e5e5; }
#preheader, #preheader input, #preheader select, #preheader textarea { color: #595959; }
#preheader a { color: #0087e6; }
#preheader a:hover { color: #002140; }
#preheader .meta { color: #a7a7a7; }
#preheader .meta a { color: #6091bf; }
#preheader .meta a:hover { color: #002140; }
#preheader * { border-color: #cccccc; }
#preheader .button { background-color: #cccccc; }
#preheader .progress-bar { border-color: #cccccc; }
#preheader .button.primary span { background-color: #0084ff; }
#preheader .button.primary.small span { background-position: 0 -300px; }
#preheader .button.primary.medium span { background-position: 0 -350px; }
#preheader .button.primary.big span { background-position: 0 -550px; }
#preheader .plus, #preheader .minus, #preheader .arrow { background-color: #0084ff; }
#preheader .plus, #preheader .minus, #preheader .arrow { background-position: 0 -200px; }
#preheader .progress-bar-value { background-color: #0084ff; }
#preheader .progress-bar-value { background-position: 0 -200px; }
#preheader table.pricing th.featured  { border-top-color: #0084ff; border-right-color: #0084ff; border-left-color: #0084ff; }
#preheader table.pricing tbody td.featured  { border-right-color: #0084ff; border-left-color: #0084ff; }
#preheader table.pricing tfoot td.featured  { border-right-color: #0084ff; border-bottom-color: #0084ff; border-left-color: #0084ff; }
#preheader .button.primary span { color: #ffffff; }
#preheader .arrow .css-shape { border-color: #ffffff; }
#preheader .plus .css-line-hor, #preheader .plus .css-line-ver { background-color: #ffffff; }
#preheader .minus .css-line-hor, #preheader .minus .css-line-ver { background-color: #ffffff; }
#preheader .plus:hover, #preheader .minus:hover, #preheader .arrow:hover { background-color: #002140; }
#preheader .plus:hover, #preheader .minus:hover, #preheader .arrow:hover { background-position: 0 -40px; }
#preheader .button.primary:hover span { background-color: #002140; }
#preheader .button.primary.small:hover span { background-position: 0 -60px; }
#preheader .button.primary.medium:hover span { background-position: 0 -70px; }
#preheader .button.primary.big:hover span { background-position: 0 -110px; }
#preheader .button.primary:hover span { color: #ffffff; }
#preheader .arrow:hover .css-shape { border-color: #ffffff; }
#preheader .plus:hover .css-line-hor, #preheader .plus:hover .css-line-ver { background-color: #ffffff; }
#preheader .minus:hover .css-line-hor, #preheader .minus:hover .css-line-ver { background-color: #ffffff; }
#preheader .button.secondary span { background-color: #000000; }
#preheader .button.secondary.small span { background-position: 0 -0px; }
#preheader .button.secondary.medium span { background-position: 0 -0px; }
#preheader .button.secondary.big span { background-position: 0 -0px; }
#preheader .button.secondary span { color: #cccccc; }
#preheader .button.secondary:hover span { background-color: #002140; }
#preheader .button.secondary.small:hover span { background-position: 0 -60px; }
#preheader .button.secondary.medium:hover span { background-position: 0 -70px; }
#preheader .button.secondary.big:hover span { background-position: 0 -110px; }
#preheader .button.secondary:hover span { color: #ffffff; }
#preheader .button.tertiary span { background-color: #d6d6d6; }
#preheader .button.tertiary.small span { background-position: 0 -480px; }
#preheader .button.tertiary.medium span { background-position: 0 -560px; }
#preheader .button.tertiary.big span { background-position: 0 -880px; }
#preheader .progress-bar-scale { background-color: #d6d6d6; }
#preheader .progress-bar-scale { background-position: 0 -320px; }
#preheader .button.tertiary span { color: #666666; }
#preheader .button.tertiary:hover span { background-color: #002140; }
#preheader .button.tertiary.small:hover span { background-position: 0 -60px; }
#preheader .button.tertiary.medium:hover span { background-position: 0 -70px; }
#preheader .button.tertiary.big:hover span { background-position: 0 -110px; }
#preheader .button.tertiary:hover span { color: #ffffff; }

/* ----- HEADER ----------------------------------------------------------------- */
#header { width: auto; }
#header-inner { padding-top: 15px; }
#id { margin-bottom: 30px; }
#header { margin-top: 0px; }
#header { border-top-width: 3px; }
#header { border-top-color: #0084ff; }
#header { padding-bottom: 0px; }
#header { border-bottom-width: 0px; }
#header { border-bottom-color: #cccccc; }
#header { margin-bottom: 0px; }
#header .background { background-color: #ffffff; }
#header .background { filter:alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;  opacity: 0; }
#header, #header input, #header select, #header textarea { color: #595959; }
#header a { color: #0084ff; }
#header a:hover { color: #002140; }
#header .meta { color: #808080; }
#header .meta a { color: #6091bf; }
#header .meta a:hover { color: #002140; }
#header * { border-color: #a7a7a7; }
#primary-nav-menu a { color: #ffffff; }
#primary-nav-menu > li a:hover { color: #002140; }
#primary-nav-menu > li.current-menu-item > a { color: #002140; }
#primary-nav-menu > li.current-menu-ancestor > a { color: #002140; }
#primary-nav-menu > li.current_page_parent > a { color: #002140; }
#primary-nav-menu ul { background-color: #f2f2f2; }
#primary-nav-menu a span.dd-arrow .css-shape { border-bottom-color: #f2f2f2; }
#primary-nav-menu ul a { color: #666666; }
#primary-nav-menu ul a:hover, #primary-nav-menu ul .dd-path { background-color: #002140; }
#primary-nav-menu ul a:hover, #primary-nav-menu ul .dd-path { background-position: 0 -60px; }
#primary-nav-menu ul a span.dd-arrow .css-shape { border-left-color: #002140; }
#primary-nav-menu ul a:hover, #primary-nav-menu ul .dd-path { color: #ffffff; }
#primary-bar .background { background-color: #0084ff; background-image: url(./../../images/primary_bar_overlay_5.png); }
#primary-bar .background { filter:alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;  opacity: 1; }

/* ----- PRECONTENT ----------------------------------------------------------------- */
#precontent { width: 967px; }
#precontent { border-top-width: 0px; }
#precontent { border-top-color: #000000; }
#precontent-inner { padding-top: 0px; }
#precontent-inner { padding-bottom: 0px; }
#precontent { border-bottom-width: 0px; }
#precontent { border-bottom-color: #0087e6; }
#precontent { margin-bottom: 0px; }
#slider { padding-bottom: 25px; background: url(./../../images/shadow_12_wide.png) center bottom no-repeat; }
#precontent .background { background-color: #f2f2f2; }
#precontent .background { filter:alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;  opacity: 0; }
#precontent, #precontent input, #precontent select, #precontent textarea { color: #595959; }
#precontent a { color: #0087e6; }
#precontent a:hover { color: #002140; }
#precontent .meta { color: #a7a7a7; }
#precontent .meta a { color: #6091bf; }
#precontent .meta a:hover { color: #002140; }
#precontent * { border-color: #e5e5e5; }
#precontent .button { background-color: #e5e5e5; }
#precontent .progress-bar { border-color: #e5e5e5; }
#precontent .button.primary span { background-color: #0084ff; }
#precontent .button.primary.small span { background-position: 0 -300px; }
#precontent .button.primary.medium span { background-position: 0 -350px; }
#precontent .button.primary.big span { background-position: 0 -550px; }
#precontent .plus, #precontent .minus, #precontent .arrow { background-color: #0084ff; }
#precontent .plus, #precontent .minus, #precontent .arrow { background-position: 0 -200px; }
#precontent .progress-bar-value { background-color: #0084ff; }
#precontent .progress-bar-value { background-position: 0 -200px; }
#precontent table.pricing th.featured  { border-top-color: #0084ff; border-right-color: #0084ff; border-left-color: #0084ff; }
#precontent table.pricing tbody td.featured  { border-right-color: #0084ff; border-left-color: #0084ff; }
#precontent table.pricing tfoot td.featured  { border-right-color: #0084ff; border-bottom-color: #0084ff; border-left-color: #0084ff; }
#precontent .button.primary span { color: #ffffff; }
#precontent .arrow .css-shape { border-color: #ffffff; }
#precontent .plus .css-line-hor, #precontent .plus .css-line-ver { background-color: #ffffff; }
#precontent .minus .css-line-hor, #precontent .minus .css-line-ver { background-color: #ffffff; }
#precontent .plus:hover, #precontent .minus:hover, #precontent .arrow:hover { background-color: #002140; }
#precontent .button.primary:hover span { background-color: #002140; }
#precontent .button.primary.small:hover span { background-position: 0 -60px; }
#precontent .button.primary.medium:hover span { background-position: 0 -70px; }
#precontent .button.primary.big:hover span { background-position: 0 -110px; }
#precontent .button.primary:hover span { color: #fffffff; }
#precontent .arrow:hover .css-shape { border-color: #fffffff; }
#precontent .plus:hover .css-line-hor, #precontent .plus:hover .css-line-ver { background-color: #fffffff; }
#precontent .minus:hover .css-line-hor, #precontent .minus:hover .css-line-ver { background-color: #fffffff; }
#precontent .button.secondary span { background-color: #000000; }
#precontent .button.secondary.small span { background-position: 0 -0px; }
#precontent .button.secondary.medium span { background-position: 0 -0px; }
#precontent .button.secondary.big span { background-position: 0 -0px; }
#precontent .button.secondary span { color: #cccccc; }
#precontent .button.secondary:hover span { background-color: #002140; }
#precontent .button.secondary.small:hover span { background-position: 0 -60px; }
#precontent .button.secondary.medium:hover span { background-position: 0 -70px; }
#precontent .button.secondary.big:hover span { background-position: 0 -110px; }
#precontent .button.secondary:hover span { color: #ffffff; }
#precontent .button.tertiary span { background-color: #d6d6d6; }
#precontent .button.tertiary.small span { background-position: 0 -480px; }
#precontent .button.tertiary.medium span { background-position: 0 -560px; }
#precontent .button.tertiary.big span { background-position: 0 -880px; }
#precontent .progress-bar-scale { background-color: #d6d6d6; }
#precontent .progress-bar-scale { background-position: 0 -320px; }
#precontent .button.tertiary span { color: #666666; }
#precontent .button.tertiary:hover span { background-color: #002140; }
#precontent .button.tertiary.small:hover span { background-position: 0 -60px; }
#precontent .button.tertiary.medium:hover span { background-position: 0 -70px; }
#precontent .button.tertiary.big:hover span { background-position: 0 -110px; }
#precontent .button.tertiary:hover span { color: #ffffff; }

/* ----- CONTENT ----------------------------------------------------------------- */
#content { width: auto; }
#content { border-top-width: 0px; }
#content { border-top-color: #000000; }
#content { border-bottom-width: 0px; }
#content { border-bottom-color: #d9d9d9; }
#content { margin-bottom: 0px; }
#content .background { background-color: #f2f2f2f; }
#content .background { filter:alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0;  opacity: 0; }
#content, #content input, #content select, #content textarea { color: #595959; }
#content a { color: #0084ff; }
#content a:hover { color: #002140; }
#content .meta { color: #a7a7a7; }
#content .meta a { color: #6091bf; }
#content .meta a:hover { color: #002140; }
#content * { border-color: #e5e5e5; }
#content .button { background-color: #e5e5e5; }
#content .progress-bar { border-color: #e5e5e5; }
#content .button.primary span { background-color: #0084ff; }
#content .button.primary.small span { background-position: 0 -300px; }
#content .button.primary.medium span { background-position: 0 -350px; }
#content .button.primary.big span { background-position: 0 -550px; }
#content .plus, #content .minus, #content .arrow { background-color: #0084ff; }
#content .plus, #content .minus, #content .arrow { background-position: 0 -200px; }
#content .progress-bar-value { background-color: #0084ff; }
#content .progress-bar-value { background-position: 0 -200px; }
#content table.pricing th.featured  { border-top-color: #0084ff; border-right-color: #0084ff; border-left-color: #0084ff; }
#content table.pricing tbody td.featured  { border-right-color: #0084ff; border-left-color: #0084ff; }
#content table.pricing tfoot td.featured  { border-right-color: #0084ff; border-bottom-color: #0084ff; border-left-color: #0084ff; }
#content .button.primary span { color: #ffffff; }
#content .arrow .css-shape { border-color: #ffffff; }
#content .plus .css-line-hor, #content .plus .css-line-ver { background-color: #ffffff; }
#content .minus .css-line-hor, #content .minus .css-line-ver { background-color: #ffffff; }
#content .plus:hover, #content .minus:hover, #content .arrow:hover { background-color: #002140; }
#content .button.primary:hover span { background-color: #002140; }
#content .button.primary.small:hover span { background-position: 0 -60px; }
#content .button.primary.medium:hover span { background-position: 0 -70px; }
#content .button.primary.big:hover span { background-position: 0 -110px; }
#content .button.primary:hover span { color: #ffffff; }
#content .arrow:hover .css-shape { border-color: #ffffff; }
#content .plus:hover .css-line-hor, #content .plus:hover .css-line-ver { background-color: #ffffff; }
#content .minus:hover .css-line-hor, #content .minus:hover .css-line-ver { background-color: #ffffff; }
#content .button.secondary span { background-color: #000000; }
#content .button.secondary.small span { background-position: 0 -0px; }
#content .button.secondary.medium span { background-position: 0 -0px; }
#content .button.secondary.big span { background-position: 0 -0px; }
#content .button.secondary span { color: #cccccc; }
#content .button.secondary:hover span { background-color: #002140; }
#content .button.secondary.small:hover span { background-position: 0 -60px; }
#content .button.secondary.medium:hover span { background-position: 0 -70px; }
#content .button.secondary.big:hover span { background-position: 0 -110px; }
#content .button.secondary:hover span { color: #ffffff; }
#content .button.tertiary span { background-color: #d6d6d6; }
#content .button.tertiary.small span { background-position: 0 -480px; }
#content .button.tertiary.medium span { background-position: 0 -560px; }
#content .button.tertiary.big span { background-position: 0 -880px; }
#content .progress-bar-scale { background-color: #d6d6d6; }
#content .progress-bar-scale { background-position: 0 -320px; }
#content .button.tertiary span { color: #666666; }
#content .button.tertiary:hover span { background-color: #002140; }
#content .button.tertiary.small:hover span { background-position: 0 -60px; }
#content .button.tertiary.medium:hover span { background-position: 0 -70px; }
#content .button.tertiary.big:hover span { background-position: 0 -110px; }
#content .button.tertiary:hover span { color: #ffffff; }

/* ----- PREFOOTER ----------------------------------------------------------------- */
#prefooter { width: auto; }
#prefooter { border-top-width: 3px; }
#prefooter { border-top-color: #0084ff; }
#prefooter { border-bottom-width: 1px; }
#prefooter { border-bottom-color: #d9d9d9; }
#prefooter { margin-bottom: 0px; }
#prefooter .background { background-color: #ffffff; }
#prefooter .background { filter:alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;  opacity: 1; }
#prefooter, #prefooter input, #prefooter select, #prefooter textarea { color: #666666; }
#prefooter a { color: #0084ff; }
#prefooter a:hover { color: #002140; }
#prefooter .meta { color: #b3b3b3; }
#prefooter .meta a { color: #6091bf; }
#prefooter .meta a:hover { color: #002140; }
#prefooter * { border-color: #d9d9d9; }
#prefooter .button { background-color: #d9d9d9; }
#prefooter .progress-bar { border-color: #d9d9d9; }
#prefooter .button.primary span { background-color: #0084ff; }
#prefooter .button.primary.small span { background-position: 0 -300px; }
#prefooter .button.primary.medium span { background-position: 0 -350px; }
#prefooter .button.primary.big span { background-position: 0 -550px; }
#prefooter .plus, #prefooter .minus, #prefooter .arrow { background-color: #0084ff; }
#prefooter .plus, #prefooter .minus, #prefooter .arrow { background-position: 0 -200px; }
#prefooter .progress-bar-value { background-color: #0084ff; }
#prefooter .progress-bar-value { background-position: 0 -200px; }
#prefooter table.pricing th.featured  { border-top-color: #0084ff; border-right-color: #0084ff; border-left-color: #0084ff; }
#prefooter table.pricing tbody td.featured  { border-right-color: #0084ff; border-left-color: #0084ff; }
#prefooter table.pricing tfoot td.featured  { border-right-color: #0084ff; border-bottom-color: #0084ff; border-left-color: #0084ff; }
#prefooter .button.primary span { color: #ffffff; }
#prefooter .arrow .css-shape { border-color: #ffffff; }
#prefooter .plus .css-line-hor, #prefooter .plus .css-line-ver { background-color: #ffffff; }
#prefooter .minus .css-line-hor, #prefooter .minus .css-line-ver { background-color: #ffffff; }
#prefooter .plus:hover, #footer .minus:hover, #footer .arrow:hover { background-color: #002140; }
#prefooter .button.primary:hover span { background-color: #002140; }
#prefooter .button.primary.small:hover span { background-position: 0 -60px; }
#prefooter .button.primary.medium:hover span { background-position: 0 -70px; }
#prefooter .button.primary.big:hover span { background-position: 0 -110px; }
#prefooter .button.primary:hover span { color: #ffffff; }
#prefooter .arrow:hover .css-shape { border-color: #ffffff; }
#prefooter .plus:hover .css-line-hor, #prefooter .plus:hover .css-line-ver { background-color: #ffffff; }
#prefooter .minus:hover .css-line-hor, #prefooter .minus:hover .css-line-ver { background-color: #ffffff; }
#prefooter .button.secondary span { background-color: #000000; }
#prefooter .button.secondary.small span { background-position: 0 -0px; }
#prefooter .button.secondary.medium span { background-position: 0 -0px; }
#prefooter .button.secondary.big span { background-position: 0 -0px; }
#prefooter .button.secondary span { color: #cccccc; }
#prefooter .button.secondary:hover span { background-color: #002140; }
#prefooter .button.secondary.small:hover span { background-position: 0 -60px; }
#prefooter .button.secondary.medium:hover span { background-position: 0 -70px; }
#prefooter .button.secondary.big:hover span { background-position: 0 -110px; }
#prefooter .button.secondary:hover span { color: #ffffff; }
#prefooter .button.tertiary span { background-color: #d6d6d6; }
#prefooter .button.tertiary.small span { background-position: 0 -480px; }
#prefooter .button.tertiary.medium span { background-position: 0 -560px; }
#prefooter .button.tertiary.big span { background-position: 0 -880px; }
#prefooter .progress-bar-scale { background-color: #d6d6d6; }
#prefooter .progress-bar-scale { background-position: 0 -320px; }
#prefooter .button.tertiary span { color: #666666; }
#prefooter .button.tertiary:hover span { background-color: #002140; }
#prefooter .button.tertiary.small:hover span { background-position: 0 -60px; }
#prefooter .button.tertiary.medium:hover span { background-position: 0 -70px; }
#prefooter .button.tertiary.big:hover span { background-position: 0 -110px; }
#prefooter .button.tertiary:hover span { color: #ffffff; }

/* ----- FOOTER ----------------------------------------------------------------- */
#footer { width: auto; }
#footer { border-top-width: 0px; }
#footer { border-top-color: #e5e5e5; }
#footer { border-bottom-width: 0px; }
#footer { border-bottom-color: #000000; }
#footer { margin-bottom: 0px; }
#footer .background { background-color: #ffffff; }
#footer .background { filter:alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1;  opacity: 1; }
#footer { color: #b3b3b3; }
#footer a { color: #666666; }
#footer a:hover { color: #002140; }
